.product_list {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.product_list_total {
  display: flex;
  justify-content: flex-end;
}
.product_list > * + * {
  margin-top: 20px;
}
.product_list_item {
  display: flex;
  width: 100%;
  align-items: center;
}
.product_list_item > * + * {
  padding-left: 30px;
}
.product_list_item_image {
  width: 100px;
  height: 100px;
}
.product_list_item_image img {
  max-width: 100%;
  max-height: 100%;
}
.product_list_item_description {
  flex-grow: 1;
}
.product_list_item_description_title {
  display: block;
  font-weight: bold;
  height: 23px;
  margin-top: -23px;
}
.product_list_item_price {
  min-width: 200px;
}
.product_list_item_quantity {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.quantity {
  margin: 0 1.8rem;
}
