.container {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 1rem;
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 769px) {
  .container {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  .container {
    width: 43.333333%;
  }
}
@media (min-width: 1201px) {
  .container {
    width: 33.333333%;
  }
}
@media (min-width: 1649px) {
  .container {
    width: 25%;
  }
}
.card {
  width: 300px;
  margin: 0;
}
.card-title {
  color: black;
  font-weight: 400;
}
